.form-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1e1;
  position: fixed;
  top: 0;
  left: 0%;
}
form {
  height: 450px;
  width: 50%;
  border: #f1f1f1e8 solid 0.9px;
  padding: 10px;
  background: white;
}
form .form-right {
  cursor: pointer;
}
form .form-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-left h1 {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 580;
}
.form-left h4 {
  opacity: 0.5;
}
form .input-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.input input {
  background: #f1f1f1e8;
  padding: 10px;
}
.input label {
  text-transform: capitalize;
  font-weight: 550;
  letter-spacing: 0.5px;
}
form .btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  gap: 5rem;
}
form .btn button {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  opacity: 0.7;
}
form .btn button:hover {
  opacity: 1;
}
form .btn .cancel {
  background: #f1f1f1e8;
  color: black;
}
form .btn .add {
  background: aqua;
}
form .input .clubType {
  border: none;
  outline: none;
  padding: 10px;
  background: #f1f1f1e8;
  text-transform: capitalize;
}
form .input .clubType option {
  text-transform: capitalize;
  padding: 10px;
  background: #f1f1f1;
}
