/* src/Contact.css */

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  border: none;
  outline: none;
}

.contact-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

form .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-transform: capitalize;
}

.contact-form div {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f1f1f1e8;
  border-radius: 4px;
}

.contact-form textarea {
  width: 100%;
  min-height: 150px;
  max-height: 250px;
}

.contact-form .error {
  color: red;
  font-size: 0.8em;
}

form button {
  width: 100%;
  padding: 10px 20px;
  background: #7a00eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Responsive CSS */

/* Mobile devices (max-width: 768px) */
@media only screen and (max-width: 768px) {
  .contact-form {
    width: auto;
    padding: 15px;
  }

  form .heading {
    font-size: 20px;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 6px;
  }

  form button {
    padding: 8px 15px;
  }
}

/* Tablet devices (min-width: 769px and max-width: 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .contact-form {
    width: 85%;
    padding: 20px;
  }

  form .heading {
    font-size: 22px;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 8px;
  }

  form button {
    padding: 10px 20px;
  }
}

/* Desktop devices (min-width: 993px) */
@media only screen and (min-width: 993px) {
  .contact-form {
    width: 85%;
    padding: 25px;
  }

  form .heading {
    font-size: 25px;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 10px;
  }

  form button {
    padding: 12px 25px;
  }
}
