/* Form Styles */

form {
  /* Instead of using translateY, use margin or padding to center the form vertically */
  margin: 5vh auto; /* 5vh is 5% of the viewport height */
  max-width: 80%; /* adjust the width to your liking */
  padding: 25px;
}

/* Form Top Styles */

.form-top .form-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-top .form-right span {
  font-size: 25px;
  background: aqua;
  border-radius: 50%;
  padding: 10px;
}

/* Export Styles */

form .export {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Input Section Styles */

.input-section .input textarea {
  padding: 10px;
  background: #f1f1f1e8;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  min-height: 100px;
  max-height: 150px;
  overflow-y: hidden;
  resize: vertical; /* allow textarea to be resized vertically */
}

/* Responsive Design */

/* For smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
  form {
    margin: 10vh auto; /* increase margin for smaller screens */
    max-width: 100%; /* adjust width for smaller screens */
  }
  .form-top .form-right span {
    font-size: 20px; /* reduce font size for smaller screens */
  }
  .input-section .input textarea {
    min-height: 50px; /* reduce min-height for smaller screens */
    max-height: 100px; /* reduce max-height for smaller screens */
  }
}

/* For larger screens (e.g., desktop devices) */
@media only screen and (min-width: 1024px) {
  form {
    margin: 2vh auto; /* decrease margin for larger screens */
    max-width: 100%; /* adjust width for larger screens */
  }
  .form-top .form-right span {
    font-size: 30px; /* increase font size for larger screens */
  }
  .input-section .input textarea {
    min-height: 150px; /* increase min-height for larger screens */
    max-height: 200px; /* increase max-height for larger screens */
  }
}
