.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-brand a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #7a00eb;
  font-weight: 550;
}

.navbar-search input {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  outline: none;
  background: #f1f1f1e8;
}

@media (max-width: 768px) {
  .navbar-search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .navbar-search input {
    width: 80%;
  }
}
